* {
	font-family: "PT Sans", sans-serif;
}

img,
embed,
object,
video {
	max-width: 100%;
}

/* Header */
header {
	border-top: 50px solid #000;
}

header img.brand {
	margin: 40px 20px 40px 20px;
}

/* Nav */
.menu {
	margin: 85px 0 40px 0;
}

.navbar-default {
	border-radius: 0;
	border: 0;
	box-shadow: none !important;
	background-image: none;
	background-color: transparent;
}

.nav-link {
	color: #000 !important;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	border-top: 6px solid #fff !important;
	padding: 10px 5px 0 5px !important;
	margin: 0 15px 0 15px;
}

.active .nav-link,
.nav-link:focus,
.nav-link:hover {
	color: #e6001c !important;
	border-top: 6px solid #e6001c !important;
	background-image: none !important;
	background-color: transparent !important;
	box-shadow: 0 0 0 !important;
}

.nav-link span,
.nav-link:hover span,
.nav-link:focus span {
	font-size: 10px;
	color: #000 !important;
}

.subnav-link,
.subnav-link:hover,
.subnav-link:focus {
	color: #000;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
	padding: 2px 10px 2px 10px !important;
	border: 0 !important;
}

.subnav-link:hover {
	color: #e6001c !important;
	background-image: none !important;
	background-color: transparent !important;
}

.dropdown-toggle {
	background-image: none !important;
	background-color: transparent !important;
	box-shadow: 0 0 0 !important;
}

/* Base Styles */
p {
	font-size: 16px;
	line-height: 1.4em;
}

h2 {
	font-size: 25px;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	margin: auto auto 20px auto;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	margin: auto auto 15px auto;
}

h3 span {
	font-size: 12px;
	font-weight: bold;
	color: #e6001c;
	padding: 0 0 0 3px;
}

h3 b {
	font-size: 14px;
	color: #e6001c;
	display: block;
}

h3 strong {
	padding: 10px 0 0 10px !important;
	display:flex;
}

h3.title  {
	font-weight: normal;
	font-size: 19px;
	color: #666;
	padding: 10px;
	margin: 0 0 10px 0;
	display:block;
}

.icon {
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	border-radius: 40px;
	background-color: #000;
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	text-align: center;
	justify-content: center;
	display: flex;
}

.btn-more,
.btn-more:hover,
.btn-more:focus {
	margin: 15px 0 0 0;
	color: #000;
	font-size: 15px;
	display: block;
	float: left;
	padding: 5px 10px 5px 10px;
}

.btn-more:hover {
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

.btn-more span {
	font-size: 11px;
}

.item {
	margin: 0 0 20px 0;
}

/* Modal */
.modal-body img {
	width:100%;
}

/* Banner */
.banner {
	background-image: url(../images/banner_background.jpg);
	background-repeat: repeat-x;
}

/* Services */
#services {
	background-color: #e6001c;
}

#services .row {
	margin: 60px auto auto auto;
}

#services p {
	color: #fff;
}

#services h3.title {
	color: #000;
	margin: 0 0 10px 0;
	padding: 0;
	height: 40px;
}

/* Work */
#work .container {
	margin: 60px auto auto auto;
}

#work .portfolio {
	margin: auto auto 50px auto;
}

#work .box-item,
#work .box-item:hover,
#work .box-item:focus {
	padding: 0;
	margin: 0 0 20px 0;
	text-decoration: none;
	display:block;
}

#work .box-item:hover,
#work .box-item:focus {
	background-color: #ededed;
}

/* Footer */
footer {
	background-color: #000;
}

footer .container {
	padding: 20px;
	color: #fff;
}

/* Medium Screens */
@media screen and (min-width: 768px) and (max-width: 991px) {

	.banner {
		background-image: url(../images/banner_background_medium.jpg);
	}

	.menu {
		margin: 65px 0 40px 0;
	}

}

/* Small Screens */
@media screen and (max-width: 767px) {

	.banner {
		background-image: url(../images/banner_background_small.jpg);
	}

	.menu {
		margin: 0 !important;
		padding: 0 !important;
	}

	.nav-link {
		color: #fff !important;
		border: 0 !important;
	}

	.active .nav-link,
	.nav-link:focus,
	.nav-link:hover {
		color: #e6001c !important;
		border: 0 !important;
	}

	.navbar-default .navbar-collapse {
		border-color: #666;
	}

	.navbar-default {
		margin: 0 !important;
		background-color: #000;
		border-color: #c0392b;
	}

	.navbar-default ul {
		padding: 5px 0 10px 0;
	}

	.navbar-default .navbar-nav .open .dropdown-menu {
		background-color: #000;
		padding: 5px 16px 0 16px;
	}

	.navbar-default .navbar-toggle {
		border-color: #666;
	}

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: #fff;
	}

	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar {
		background-color: #000;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #666;
	}

	.nav-link span,
	.nav-link:hover span {
		color: #e6001c !important;
	}

	.nav-link:focus span {
		color: #fff !important;
	}

	.navbar-default .navbar-nav .open .dropdown-menu .subnav-link {
		color: #fff;
		border-bottom: 1px solid #333 !important;
	}

	#services .row {
		margin: 40px 0 0px 0;
	}

	#services .item {
		padding: 0 0 15px 0;
		border-bottom: 1px dashed #000;
	}

	#services .item:last-of-type {
		border-bottom: 0 !important;
		padding: 0;
	}

	#work h3.title {
		border-bottom: 1px dashed #dedede;
	}

}