* {
	font-family: 'PT Sans', sans-serif;
}

img, embed, object, video {
	max-width:100%;
}

header {
	border-top:50px solid #000;
}
header img.brand {
	margin: 40px 20px 40px 20px;
}




.nav {
	margin-top: 60px;
}	
.nav > li {
	border-top: 6px solid transparent;
	margin-right: 25px;
	padding: 10px;
}
.nav > a,
.nav > li a,
.nav > a:hover,
.nav > li a:hover {
	color: #000;
	text-transform:uppercase;
	font-weight:bold;
	font-size: 16px;
	background-color: transparent;
	padding: 0px;
}
.nav > a:hover,
.nav > li a:hover {
	color: #e6001c;
}
.nav > li:hover,
.nav > li.active:hover,
.nav > li.active {
	border-top: 6px solid #e6001c;
	color: #e6001c;
	background-color: transparent;
}
.nav > li.active a:hover,
.nav > li.active a {
	color: #e6001c;
	background-color: transparent;
}
a.dropdown-toggle .glyphicon {
	font-size:10px;
	color: #000 !important;
}
.nav > li > a:hover, .nav > li > a:focus, 
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: transparent;
}

.dropdown-menu > li > a, 
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	font-size:14px;	
	padding: 5px 10px 5px 10px;
	border: 0px;
	background-color: transparent;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #e6001c;
	background-image: none !important;
}



#banner {
	background-image: url(../images/banner_background.jpg);
	background-repeat: repeat-x;
}


#services {
	display: block;
	background-color:#e6001c;
}
#services .row {
	margin-top: 60px;
}
#services .item {
	margin-bottom: 20px;
}
#services h3 {
	font-size: 18px;
	font-weight:bold;
	text-transform: uppercase;
	color: #000;
	display:block;
	clear: both;
	height:40px;
	margin-bottom:15px;
}
#services h3 strong {
	padding-top: 10px;
	display:block;
}
#services .icon {
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	border-radius: 40px;
	background-color: #000;
	width: 40px;
	height: 40px;
	display: block;
	float: left;	
	margin: auto 10px auto auto;
	text-align: center;
}
#services .icon img {
	margin-top: 8px;
}
#services p {
	color: #fff;
	font-size: 13px;
	line-height: 1.7em;
}
#services a,
#services a:hover {
	margin-top: 15px;	
	color: #000;
	font-size: 14px;
	display:block;
	float: left;
	padding: 5px 10px 5px 10px;
}
#services a:hover {
	background-color:#000;
	color: #fff;
	text-decoration: none;
}


#work .container {
	margin-top: 60px;
}
#work .portfolio {
	margin-bottom: 50px;
}
#work h2 {
	font-size: 25px;
	text-transform: uppercase;
	color: #000;
	font-weight:bold;
	margin-bottom: 20px;
}
.modal h3,
#work h3 {
	font-size: 15px;
	text-transform: uppercase;
	color: #666;
	padding: 15px;
	margin: 0px;
}
.modal h3 {
	font-size:20px;
	padding: 0px;
}
h3.modal-title b,
#work h3 b {
	font-size: 12px;
	font-weight: bold;
	color: #e6001c;
	display:block;
}
#work h3 span {
	font-size: 18px;
	font-weight: bold;
	color: #e6001c;
	padding-left: 10px;
}
#work a:hover {
	display: block;
	background-color: #ededed !important;
	text-decoration: none;
}


footer {
	display: block;
	background-color: #000;
}
footer .container {
	padding: 20px;
	color: #fff;
}


@media screen and (max-width: 768px) {
	#banner {
		display:none;
	}	
	#services .row {
		margin-top: 0px;
	}
	#services a,
	#services a:hover {
		margin-top: 10px;
	}
	#services .item {
		display:block;
		clear:both;
	}
	#work .portfolio h3 {
		border-bottom: 1px dashed #dedede;
	}
	#services .item {
		padding-bottom: 15px;
		border-bottom: 1px dashed #000;
	}
	#services .item.ultimo {
		border-bottom: 0px !important;
		padding-bottom: 0px;
	}	
}